* {
  background-color: #11001c;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Sarabun", sans-serif;
}

#root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  background-color: #ffff;
  display: flex;
  height: 75vh;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}

h1 {
  width: 90vh;
  margin: 10px auto;
  border-radius: 8px;
}

.length {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 80vh;
  margin: 20px 70px;
  border-radius: 8px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 80vh;
  margin: 20px auto;
  border-radius: 8px;
}

.password-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 140px;
  width: 80vh;
  margin: 20px auto;
  border-radius: 8px;
}

input {
  margin: 10px 10px;
  cursor: pointer;
}

.password-buttons button {
  height: 40px;
  width: 55px;
  border-radius: 8px;
}

.password-buttons input {
  width: 70vh;
  height: 5vh;
  border-radius: 8px;
  text-align: center;
}

.password-buttons button:hover {
  background-color: #646cff;
}
